@import "tailwindcss";


:root {
  --background: #FEFEFE;           /* very dark purple background */
  --surface: #59149C;              /* cards / navbar background */
  
  --primary: #641DAF;              /* main brand purple */
  --primary-hover: #59149C;        /* darker hover purple */
  
  --accent: #E6B3F8;               /* soft lavender highlight */
  
  --text-primary: #FEFEFE;         /* white text */
  --text-secondary: #CFA7E8;       /* softer lavender text */
  
  --border-color: #2A1045;         /* subtle purple border */
}

html, body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}
/* Tailwind-compatible custom scrollbar-hide */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

